@import "tailwindcss";
@import "tw-animate-css";
@import "@fontsource-variable/dm-sans";
@import "@fontsource/atkinson-hyperlegible";
@import "@fontsource/atkinson-hyperlegible/700.css";
@import "@fontsource/fira-code";

/* @theme auto-generates utility classes
    --color-orbit-blue → bg-orbit-blue, text-orbit-blue */

@theme {
  --color-orbit-blue: #060d20;
  --color-orbit-white: #fcf8f8;
  --color-orbit-muted: #505461;
  --color-critical: #bd0000;
  --color-serious: #e48614;
  --color-moderate: #5842e4;
  --font-code: "Fira Code", monospace;

  --font-body: "Atkinson Hyperlegible Variable", sans-serif;
  --font-heading: "DM Sans Variable", sans-serif;
}

/* Layer base Just means global elemt defaults in tailwind */
@keyframes fade-slide {
  from {
    opacity: 0;
    transform: translateY(6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@utility animate-fade-slide {
  animation: fade-slide 0.6s ease-out forwards;
}

@layer base {
  #root {
    font-size: 16px;
  }

  body {
    font-family: var(--font-body);
    background-color: var(--color-orbit-white);
    color: var(--color-orbit-blue);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
  }
  code {
    font-family: var(--font-code);
  }
  /* temporary just so we can see where they are  */
  button {
    border: var(--color-orbit-blue) solid 1px;
  }
}
