@import "tailwindcss";
@import "tw-animate-css";
@import "@fontsource-variable/dm-sans/wght.css";
@import "@fontsource/atkinson-hyperlegible/latin-400.css";
@import "@fontsource/atkinson-hyperlegible/latin-700.css";
@import "@fontsource/fira-code/latin-400.css";

/* @theme auto-generates utility classes
    --color-orbit-blue → bg-orbit-blue, text-orbit-blue */

@theme {
  --color-orbit-blue: #060d20;
  --color-orbit-light-blue: #122762;
  --color-orbit-white: #fcf8f8;
  --color-orbit-muted: #060d20b3;
  --color-critical: #a30000;
  --color-serious: #a34700;
  --color-moderate: #4530c8;
  --font-code: "Fira Code", monospace;

  --font-body: "Atkinson Hyperlegible", sans-serif;
  --font-heading: "DM Sans Variable", sans-serif;
}

/* Layer base Just means global elemt defaults in tailwind */
@keyframes fade-slide {
  from {
    opacity: 0;
    transform: translateY(6px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@layer base {
  #root {
    font-size: 16px;
  }

  * {
    scrollbar-width: thin;
  }

  body {
    font-family: var(--font-body);
    background-color: var(--color-orbit-white);
    color: var(--color-orbit-blue);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
  }

  code {
    font-family: var(--font-code);
  }

  /* all focus states for keyboard nav - accessibility */
  *:focus-visible {
    outline: 3px solid var(--color-orbit-light-blue);
    outline-offset: 2px;
  }
}

.nav-link {
  cursor: pointer;
}
.active {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 12px;
  color: var(--color-orbit-blue);
}

/* disable all animations & transitions if thats what the user prefers (important for accessibility) */
@media (prefers-reduced-motion: reduce) {

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms;
    animation-iteration-count: 1;
    transition-duration: 0.01ms;
    scroll-behavior: auto;
  }
}