@import "tailwindcss";



/* temporary */
code {
  font-family: 'Roboto', sans-serif;
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: lightgrey;
}